.for-two {
    background-color: red;
    font-family: Arial;
    border: blue solid 2px
}
.second-p {
    background-color: blueviolet;
    font-family: Georgia;
    border: aqua 1px solid;
}
#despicableme {
    height: 150px;
    width: 200px;
    border: red solid 3px;
}
#kungfu {
    height: 100px;
    width: 100px;
    border: purple double 2px;
}
#dogman {
    height: 200px;
    width: 150px;
    border: brown solid 4px;
}