h1,h2 {
    color: green;
    text-align: center;
}
body {
    background-color: black;
}
p {
    color: white;
    text-align: center;
}
li {
    color: white;

}
#lists {
    display: flex;
    justify-content: center;
}
#contacts {
    background-color: green;
}